@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');

.about-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/40192/woman-happiness-sunrise-silhouette-40192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    padding: 0 20px;
}

.about-hero h1 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.about-hero p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}


.bio {
    padding: 6rem 0;
    background-color: #f9f9f9;
}

.bio-content {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.bio-image {
    flex: 1;
    max-width: 200px;
}

.bio-image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.bio-image img:hover {
    transform: scale(1.05);
}

.bio-text {
    flex: 2;
}