@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --secondary-color: #FFFDE8;
    --text-color: #333;
    --hover-color: #2c3e50;
    --primary-color: #4a90e2;
    --text-color: #2b2d42;
    --accent-color-1: #f72585;
    --accent-color-2: #4cc9f0;
    --accent-color-3: #7209b7;
    --accent-color-4: #4361ee;
}

.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 1.5rem;
}

.nav-link {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin: 0.5rem 1rem;
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px; 
    left: 0;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
